# Dependencies & Node
node_modules
.pnpm-store
*.log

# Apps build outputs
.next
dist
build
out

# Media uploads & conversions
uploads/
**/uploads/
temp-conversions/
**/temp-conversions/

# Binary Media Files
*.mp3
*.wav
*.mp4
*.m4a
*.webm
*.flac
*.ogg
*.mkv
*.avi

# Prisma / Environment
.env
.env.local
.env.production
!.env.example

# IDE & OS
.vscode
.idea
.DS_Store
Thumbs.db
